{% block head %}
<div class="section">
    <div class="container w-container">
        <div class="section-title-wrapper">
            <h1 data-ix="fade-in-on-load" class="section-title large">MovieHub</h1>
        </div>
        <div data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
            <div class="tabs-menu w-tab-menu"><a data-w-tab="Grid"
                    class="tab-button small w-inline-block w-tab-link w--current"><img src="img/icons/block1.svg" alt=""
                        class="tabs-icon"></a><a data-w-tab="Thumbnails"
                    class="tab-button small w-inline-block w-tab-link"><img
                        src="https://assets.website-files.com/59f5ab35fccfea0001f70443/5d2dca74358ee971e51cae61_Icon-Blocks.svg"
                        alt="" class="tabs-icon"></a><a data-w-tab="List"
                    class="tab-button small w-inline-block w-tab-link"><img
                        src="https://assets.website-files.com/59f5ab35fccfea0001f70443/5d2dca37b1d7894cf64eaaeb_menu.svg"
                        alt="" class="tabs-icon"></a></div>
            {% endblock %}