{% extends 'layouts/layout.html' %}

{% block head %}
<title>about us</title>
<link href="/css/index.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}


<div class="image-header">
    <div class="image-header-overlay">
        <div class="container w-container">
            <div class="header-intro-block">
                <h1 data-ix="fade-in-on-load" class="subpage-title">About Us</h1>
                <p data-ix="fade-in-on-load-3" class="subpage-intro-paragraph">MovieHub is your source for
                    movie reviews and movie ratings to help maximize your movie-going-experience. Our easy to use
                    movie reviews and movie ratings are based on scores and opinions from respected movie critics,
                    family advocacy groups and movie fans like you.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="js/index.js" type="text/javascript"></script>
{% endblock %}